@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}

main {
    background-color: rgb(230, 250, 255);
}

.botao {
    width: 25%;
    background-color: transparent;
    border-color: rgb(34, 52, 255);
    border-radius: 60px;
    border-width: 2px;
    padding: 3px;
    font-weight: 500;
}


.send-resp {
    justify-content: center;
    display: flex;
}



.big-box {
    font-family: '';
    display: block;
    margin: auto;
    padding: 4%;
    width: 60%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);

}

.quest-box {
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgb(91, 173, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 12px;

}

.h2 {
    padding-bottom: 50px;
    text-align: center;
}

.h4 {
    padding-bottom: 5px;
}